<!DOCTYPE html>

<html lang="fr" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="./style/style.css">

  <title>Ullabos</title>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">

  var socket = io.connect('http://localhost:8080')

  // emit -------------------------------------------------
  function generate_xml(){
    MyLibrary.generate_xml(function(data){
      socket.emit("generate_xml", data);
    });

  }

  function download_file(){
    MyLibrary.generate_xml(function(data){
      socket.emit("download_file", data);
    })
  }




  // received ---------------------------------------------
  socket.on("xml_generated", function(){
    //download("density.xml", data);
    MyLibrary.show_alert(1, "XML has been generated successfully")
  })

  socket.on("file_to_download", function(data){
    download("domains.xml", data);
  })

  function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }
</script>

</head>
<body>

  <main>

    <!-- horizontal tools -->
    <div class="row h-tools">
      <div class="col-12 p-0">

        <div class="app-title">
          <h6>Ullabos</h6>
        </div>

        <div class="row">
          <div class="col-2 pl-0">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input id="load_model" type="file" class="file custom-file-input" accept=".stl">
                <label class="custom-file-label" for="load_model" aria-describedby="load_stl">Import model (.stl)</label>
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="full-domain">
              <div class="row">
                <div class="col-6 p-0">
                  <p>Full Domain</p>
                </div>
                <div class="col-6 p-0">

                  <label class="d-inline-block" for="fdx0">x0:</label>
                  <input class="d-inline-block" type="number" value="0" max="10" id="fdx0" onchange="MyLibrary.update_data('fdx0', this.value)" autocomplete="off">
                  <label class="d-inline-block" for="fdx1">x1:</label>
                  <input class="d-inline-block" type="number" value="10" min="0" id="fdx1" onchange="MyLibrary.update_data('fdx1', this.value)" autocomplete="off">
                </div>
              </div>

              <div class="row">
                <div class="col-6 p-0">
                  <label class="d-inline-block ml-0" for="fdy0">y0:</label>
                  <input class="d-inline-block" type="number" value="0" max="10" id="fdy0" onchange="MyLibrary.update_data('fdy0', this.value)" autocomplete="off">
                  <label class="d-inline-block" for="fdy1">y1:</label>
                  <input class="d-inline-block" type="number" value="10" min="0" id="fdy1" onchange="MyLibrary.update_data('fdy1', this.value)" autocomplete="off">
                </div>
                <div class="col-6 p-0">



                  <label class="d-inline-block" for="fdz0">z0:</label>
                  <input class="d-inline-block" type="number" value="0" max="10" id="fdz0" onchange="MyLibrary.update_data('fdz0', this.value)" autocomplete="off">
                  <label class="d-inline-block" for="fdz1">z1:</label>
                  <input class="d-inline-block" type="number" value="10" min="0" id="fdz1" onchange="MyLibrary.update_data('fdz1', this.value)" autocomplete="off">
                </div>
              </div>
            </div>

          </div>

          <div class="col-2">
            <div class="row">
              <div class="col-7">
                <label for="resolution">Resolution</label>
              </div>
              <div class="col-5">
                <input type="number" name="resolution" value="64" id="resolution" onchange="MyLibrary.update_data('resolution', this.value)" autocomplete="off">
              </div>
            </div>

            <div class="row">
              <div class="col-7">
                <label for="smooth">Smooth</label>
              </div>
              <div class="col-5">
                <input type="number" name="smooth" value="0" id="smooth" onchange="MyLibrary.update_data('smooth', this.value)" autocomplete="off">
              </div>
            </div>
          </div>

          <div class="col">

            <div class="row mb-2">

              <div class="col-6 p-0">
                <button class="btn" type="button" name="button" id="generate_xml" onclick="generate_xml()">Download density</button>
              </div>

              <div class="col-6 p-0">
                <button class="btn" type="button" name="button" id="download_xml" onclick="download_file()">Download XML</button>
              </div>

                          </div>
              <div class="row">
                <div class="input-group">
                  <div class="custom-file">
                    <input id="load_volume" type="file" class="file custom-file-input" accept=".vti">
                    <label class="custom-file-label" for="load_volume" aria-describedby="load_stl">Import volume (.vti)</label>
                  </div>
                </div>
              </div>


          </div>

        </div>

      </div>
    </div>
    <!-- end of horizontal tools -->


    <div class="row main-panel">

      <!-- tools -->
      <section class="col-2 v-tools">

        <div class="row justify-content-between mb-3">
          <label for="dx0">x0:</label>
          <input type="number" value="0" min="0" max="1" id="dx0" autocomplete="off">

          <label for="dx1">x1:</label>
          <input type="number" value="1" min="0" max="10" id="dx1" autocomplete="off">
        </div>

        <div class="row justify-content-between mb-3">
          <label for="dx0">y0:</label>
          <input type="number" value="0" min="0" max="1" id="dy0" autocomplete="off">

          <label for="dx1">y1:</label>
          <input type="number" value="1" min="0" max="10" id="dy1" autocomplete="off">
        </div>

        <div class="row justify-content-between mb-3">
          <label for="dx0">z0:</label>
          <input type="number" value="0" min="0" max="1" id="dz0" autocomplete="off">

          <label for="dx1">z1:</label>
          <input type="number" value="1" min="0" max="10" id="dz1" autocomplete="off">
        </div>

        <div class="row justify-content-between mb-3">
          <label for="dlevel">Level:</label>
          <input type="number" value="1" min="1" max="1" id="dlevel" autocomplete="off">
        </div>

        <button class="btn w-100" type="button" name="button" onclick="MyLibrary.add_domain()">Add Domain</button>

        <hr />

        <button class="btn w-100 mb-3" type="button" name="button" onclick="MyLibrary.add_level()">Add Level</button>

        <div class="row" id="level-list">

          <div class="level w-100" id="level-1">
            <div class="row level-title">
              <div class="col">
                <p>Level 1</p>
              </div>
              <div class="col text-right">
                <button type="button" class="btn" value="1" onclick="MyLibrary.remove_level(1)">X</button>
              </div>
            </div>

          </div>

        </div>

        <style media="screen">
        #tmp{
          height: 10%;
          overflow: auto;
          border: 2px solid rgb(15, 17, 20);
          background-color: rgb(23, 25, 28);
        }
        #tmp pre{
          color: white;
        }
        </style>

      </section>


      <!-- render -->
      <section class="col-10 p-3 render">
        <!--
        <div class="row" id="tmp">
      </div>
    -->

    <div id="canvas">

    </div>
  </section>
</div>

<!-- messages -->
<section class="w-100" id="advert">
  <div class="alert" role="alert">

  </div>
</section>



</main>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript" src="./app.js"></script>
<script type="text/javascript" src="./ui.js"></script>
</body>
</html>
