html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #191b1e;
  color: white;
}

main {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app-title {
  text-align: center;
  border-bottom: 1px solid #505255;
  margin-bottom: 1em;
}
.row {
  margin: 0;
}

.btn {
  border: 1px solid #505255;
  color: #c3c5c8;
}
.btn:hover {
  color: #c3c5c8;
  background-color: #474d56;
}

hr {
  border-bottom: 1px solid #0a0c0f;
}

input {
  border-radius: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #505255;
  background-color: #0a0c0f;
  color: #c3c5c8;
  display: block;
  width: auto;
  max-width: 100%;
}

.h-tools, .render, .v-tools {
  margin: 0;
  padding: 1em;
}

.h-tools {
  padding-top: 0.25em;
  height: 15vh;
}
.h-tools .full-domain label {
  margin-left: 1em;
  margin-right: 0.5em;
}
.h-tools .full-domain input {
  width: 70px;
}

.main-panel {
  height: 75vh;
}

.v-tools {
  height: 100%;
  padding: 1em;
}
.v-tools input {
  width: 30%;
}

#level-list {
  height: 50%;
  overflow: auto;
  border: 1px solid #505255;
  background-color: #0a0c0f;
}

.level-title, .domain {
  background-color: #191b1e;
  border-bottom: 1px solid #0a0c0f;
  padding: 0.5em;
}

.level-title {
  margin: 0;
}

.domain {
  justify-content: space-between;
}
.domain .col {
  padding: 0.25em 0.25em;
}

.render {
  width: 100%;
  height: 100%;
}

#canvas {
  height: 100%;
  width: 100%;
  background-color: black;
}

#advert {
  height: 10vh;
  padding: 1em;
}
#advert .alert {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
